@model CMSProject.Models.Customer

@{
    ViewBag.Title = "ClientDetail";
    Layout = "~/Views/Shared/customer.cshtml";
}

<h2>ClientDetail</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmailVerified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmailVerified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivationCode)
        </dd>

    </dl>
</div>
<p class="modal-footer">
    <a href="/Clients/ClientEdit/@Model.CustomerID" class="btn btn-warning">Chỉnh sửa tài khoản</a> |
    @*@Html.ActionLink("<< Quay lại danh sách", "Index")*@
</p>
