@model CMSProject.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/customer.cshtml";
}


<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">

            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">

                        <div data-thumb="img/product/single-product/product_1.png">
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImageUpload)" style="width:100%;height:250px;" alt="">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h5>previous <span>|</span> next</h5>
                    <h3>@Model.ProductName</h3>
                    <h2>@Model.Price</h2>
                    <ul class="list">
                        <li>
                            <a class="active" href="#">
                                <span>Category</span> : @Model.Category.CategoryName
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>Availibility</span> :
                                @if (Model.Quantity > 0)
                                {
                                    <text>Con hang</text>
                                }
                                else
                                {
                                    <text>Het hang</text>
                                }
                            </a>
                        </li>
                    </ul>
                    @if (Model.Quantity > 0)
                    {
                        <div class="card_area d-flex justify-content-between align-items-center">
                            <div class="product_count">
                                <form action="/Clients/AddToCartClient/@Model.ProductID" method="post">
                                    <input type="hidden" name="IdOrderClient" value="@ViewBag.IdOrd" />
                                    <span class="inumber-decrement"> <i class="ti-minus"></i></span>
                                    <input class="input-number" type="text" value="1" min="1" name="insertQuantited">
                                    <span class="number-increment"> <i class="ti-plus"></i></span> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn_3">add to cart</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        @Html.Raw(Model.Description)
    </div>
</section>
<!--================End Product Description Area =================-->
