@model CMSProject.Models.Product

@{

    Layout = "~/Views/Shared/admin1.cshtml";
}

<h2 style="margin-left:327px">Chi tiết sản phẩm</h2>

<div>
    @*<h4>Product</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.ProductImage)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ImageUpload)
        </dt>

        @*<dd>
                @Html.DisplayFor(model => model.ImageUpload)
            </dd>*@

        @*Add image for detail*@
        <dd>
            @*@Html.DisplayFor(model => model.ImageUpload)*@
            @if (Model.ImageUpload != null)
            {
                //var base64 = Convert.ToBase64String(Model.ImageUpload);
                //var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);

                <img src="data:image;base64,@System.Convert.ToBase64String(Model.ImageUpload)" alt="" width="150" height="125" />
            }
            else
            {
                <img src="~/App_Data/uploads/Capture.JPG"
                     style="max-width:100px;max-height:100px" / >
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")*@


    <div class="modal-footer">
        <span>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
        </span>
        @*<a href='@Url.Action("Edit", "Products")' class="btn btn-primary">  Chỉnh sửa sản phẩm >> </a><br>*@
        <span>
            @Html.ActionLink("Quay lại", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
        </span>
        @*<a href='@Url.Action("Details", "Products")' class="btn btn-primary"> << Quay lại</a><br>*@
    </div>
</p>
