@model CMSProject.Models.GoodsReceipt

@{

    Layout = "~/Views/Shared/admin.cshtml";
}

@*<h2>Details</h2>*@

<div>
    @*<h4>GoodsReceipt</h4>*@
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.GoodsReceiptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoodsReceiptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.SupplierName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.SupplierName)
        </dd>

    </dl>
</div>
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>          
            <th>Total</th>
         
        </tr>
        @foreach (var item in ViewBag.lstGoodsReceiptDetail)
        {
        <tr>
            <td>@item.Product.ProductName</td>
            <td>@item.Quantity </td>
            <td>@item.UnitPrice</td>
            <td>@item.Total</td>
        </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GoodsReceiptID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
