@model CMSProject.Models.GoodsReceiptDetail

@{

    Layout = "~/Views/Shared/admin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>GoodsReceiptDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoodsReceipt.GoodsReceiptName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoodsReceipt.GoodsReceiptName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.GoodsReceiptDetailID }) |
        @Html.ActionLink("<< Quay lại danh sách", "Index")
    </p>
</body>
</html>
