
@using PagedList
@using PagedList.Mvc;

@model IPagedList<CMSProject.Models.Blog>

@*@{
        ViewBag.Title = "_Index";
        Layout = "~/Views/Shared/admin.cshtml";
    }*@
@{
    var blogTitle = ViewBag.blogTitle;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().BlogTitle)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.BlogContent)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateCreated)
        </th>
        <th>Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/Blogs/Details/@item.BlogID" style="color:blue;">@item.BlogTitle</a>
                @*@Html.DisplayFor(modelItem => item.BlogTitle)*@
            </td>
            @*<td>

                 @Html.Raw(item.BlogContent)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.BlogID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BlogID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BlogID })*@
                @Html.ActionLink("  ", "Edit", new { id = item.BlogID }, new { @class = "btn btn-warning fa fa-pencil" })
                @Html.ActionLink("  ", "Details", new { id = item.BlogID }, new { @class = "btn btn-info fa fa-info-circle" })
                @Html.ActionLink("  ", "Delete", new { id = item.BlogID }, new { @class = "btn btn-danger fa fa-times" })
            </td>
        </tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("_Index", new { page, blogTitle }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            UpdateTargetId= "table-view"
        }
        )
    )

