
@using PagedList
@using PagedList.Mvc;

@model IPagedList<CMSProject.Models.Blog>

@*@{
        ViewBag.Title = "_Index";
        Layout = "~/Views/Shared/admin.cshtml";
    }*@
@{
    var blogTitle = ViewBag.blogTitle;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().BlogTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Author)
        </th>   
      
        <th>Tùy chọn</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
           
            @*<td>
                <a href="/Products/Edit/@item.ProductID" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                @Html.ActionLink("  ", "Details", new { id = item.ProductID }, new { @class = "btn btn-info fa fa-info-circle" })
                <button onclick="deldeteProduct(@item.ProductID)" class="btn btn-primary">X</button>
            </td>*@
        </tr>
    }

</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("_Index", new { page, blogTitle }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            UpdateTargetId= "table-view"
        }
        )
    )

