@*@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cửa hàng vật liệu</title>
    <link rel="icon" href="~/Content/customer/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/bootstrap.min.css">
    <!-- animate CSS -->
    @*<link rel="stylesheet" href="css/animate.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/animate.css">
    <!-- owl carousel CSS -->
    @*<link rel="stylesheet" href="css/owl.carousel.min.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    @*<link rel="stylesheet" href="css/all.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/all.css">
    <!-- flaticon CSS -->
    @*<link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/themify-icons.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/customer/css/themify-icons.css">
    <!-- font awesome CSS -->
    @*<link rel="stylesheet" href="css/magnific-popup.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/magnific-popup.css">
    <!-- swiper CSS -->
    @*<link rel="stylesheet" href="css/slick.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/slick.css">
    <!-- style CSS -->
    @*<link rel="stylesheet" href="css/style.css">*@
    <link rel="stylesheet" href="~/Content/customer/css/style.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <style>
        .footer_part {
            border: double;
            border-block-end-style: inherit;
            border-block-start-color: inherit;
            border-style: solid;
            background-color: #ecfdff;
            transition: 0.3s all;
        }

        .list-unstyled {
            font-size: 140%;
        }

        .single_footer_part {
            height: 220px;
            width: 350px;
        }

        .left_widgets p_filter_widgets {
            border: 1px solid red;
        }

        .owl-carousel .owl-item img {
            display: block;
            width: 79% !important;
        }

        .banner_part {
            background-color: antiquewhite !important;
        }

        .footer_part {
            background-color: antiquewhite !important;
        }
        .editmenu {
            position: fixed;
            background-color: antiquewhite !important;
            width: 100%;
            margin-left: -225px;
        }
    </style>
</head>
<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center editmenu">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!--Để logo ở đây -->
                        @*<a class="navbar-brand" href="index.html"> <img src="~/Content/customer/img/logo.png" alt="logo"> </a>*@
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/Clients/ProductIndex">Trang chủ</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Cửa hàng
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="@Url.Action("ProductIndex", "Clients")"> Danh sách sản phẩm</a>
                                        @*<a class="dropdown-item" href="single-product.html">product details</a>*@
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    @*<a href="@Url.Action("Inventory", "Products")">Quản lí kho</a>*@
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("BlogIndex", "Clients")" id="navbarDropdown_3"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Giới thiệu
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="#"> Giới thiệu cửa hàng </a>

                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="@Url.Action("BlogIndex", "Clients")" id="navbarDropdown_2"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bài viết
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="@Url.Action("BlogIndex", "Clients")"> Danh sách bài viết</a>
                                        @*<a class="dropdown-item" href="@Url.Action("BlogDetail", "Clients")/">Xem bài viết đơn</a>*@
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Clients/ClientFeedback">Feedback</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Clients/Contact">Liên hệ</a>
                                </li>
                                <li class="nav-item">

                                    @if (Session["CustomerID"] != null)
                                    {
                                        <a class="nav-link" href="/Clients/HienThiDonHang/@Session["CustomerID"]">Quản Lý Đơn Hàng</a>
                                    }
                                </li>
                                <li class="nav-item">
                                    <a href="/Clients/ClientCartIndex" class="nav-link">
                                        <i class="fas fa-cart-plus">
                                            <sup>
                                                @if (Session["CountCart"] == null)
                                                {
                                                    <text>0</text>
                                                }
                                                else
                                                {
                                                    <text>
                                                        @Session["CountCart"]
                                                    </text>
                                                }
                                            </sup>
                                            Giỏ hàng
                                        </i>

                                    </a>

                                </li>

                            </ul>

                        </div>

                        <!--Giỏ hàng-->

                        <div class="hearer_icon ifflex">

                            @*<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">*@
                            @if (Session["Customers"] == null)
                            {
                                <a href="/Customers/Login">Đăng nhập</a>
                            }
                            else
                            {
                                @*<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">*@
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                           role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @Session["Customers"]
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                            <a class="dropdown-item" href="/Clients/ClientDetail/@Session["CustomerID"]">Trang cá nhân</a>
                                            <form action="/Customers/Logout" method="post">
                                                <button type="submit" class="dropdown-item">Logout</button>
                                            </form>
                                            @*<a class="dropdown-item" href="">Đăng xuất</a>*@
                                        </div>
                                    </li>
                                </ul>

                            }

                        </div>

                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">

                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="~/Image/backg1.png" alt="" />
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">

                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">

                                    <img src="~/Image/layout.jpg" style="width: 1700px !important;" />
                                    @*<img src="img/banner_img.png" alt="">*@
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>
                                                SHOWROOM</br> TINH CHUP
                                            </h1>
                                            <p>
                                                Cửa hàng Tính Chụp với những sản phẩm vô cùng chất lượng , sản phẩm đẹp uy tín sẽ giúp bạn có những trải nghiệm đẹp.
                                            </p>
                                            @* <a href="#" class="btn btn-primary">Click Buy</a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="~/Image/backg2.jpg" style=" width: 700px !important;" />
                                    @*<img src="~/Content/customer/img/banner_img.png" alt="">*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-counter"></div>
                </div>
            </div>
        </div>
    </section>


    <div class="container body-content">
        @RenderBody()
    </div>

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container" border-bottom: double;>
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3><strong>Liên hệ</strong></h3>
                        <ul class="list-unstyled">
                            <li><a class="fa fa-home" href="/Clients/Contact">Xóm Cẩm Lũy - Xã Cẩm La - TX.Quảng Yên - Quảng Ninh</a></li>
                            <li><a class="fa fa-phone" href="/Clients/ProductIndex"> 0987237158 - 03684640128</a></li>
                            <li><a class="fa fa-mail-bulk" href="/Clients/ProductIndex"> duongdung2211@gmail.com</a></li>
                            <li><a class="fa fa-mail-bulk" href="/Clients/ProductIndex" style="margin-top:8px;"> STK : 01000842001</br>Tiên Phong Bank Hà Nội</br>Chủ TK : DUONG VAN DUNG</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3><strong>Chính sách</strong></h3>
                        <ul class="list-unstyled">
                            <li><a class="fa fa-file-text-o" href="/ChinhsachClient/ChinhSachBaoHanh">Chính sách bảo hành</a></li>
                            <li><a class="fa fa-file-text-o" href="/ChinhsachClient/ChinhSachDoiHang" style="margin-top:21px;">Chính sách đổi hàng</a></li>
                            <li><a class="fa fa-file-text-o" href="/ChinhsachClient/ChinhSachTraHang" style="margin-top:18px;">Chính sách trả hàng</a></li>
                            <li><a class="fa fa-file-text-o" href="/ChinhsachClient/ChinhSachBaoMat" style="margin-top:18px;"> Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h3><strong>Hướng dẫn</strong></h3>
                        <ul class="list-unstyled">
                            <li><a href="/HuongDanClient/HuongDanMuaHang">Hướng dẫn mua hàng</a></li>
                            <li><a href="/HuongDanClient/HuongDanThanhToan">Hướng dẫn thanh toán</a></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
    </footer>

    <script src="~/Content/customer/js/jquery-1.12.1.min.js"></script>
    <script src="~/Content/customer/js/jquery.magnific-popup.js"></script>
    <script src="~/Content/customer/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/customer/js/jquery.counterup.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/customer/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/customer/js/jquery.form.js"></script>
    <script src="~/Content/customer/js/jquery.validate.min.js"></script>

    <script src="~/Content/customer/js/popper.min.js"></script>

    <script src="~/Content/customer/js/bootstrap.min.js"></script>

    <script src="~/Content/customer/js/swiper.min.js"></script>

    <script src="~/Content/customer/js/masonry.pkgd.js"></script>

    <script src="~/Content/customer/js/owl.carousel.min.js"></script>



    <script src="~/Content/customer/js/slick.min.js"></script>
    <script src="~/Content/customer/js/waypoints.min.js"></script>
    <script src="~/Content/customer/js/contact.js"></script>
    <script src="~/Content/customer/js/mail-script.js"></script>

    <script src="~/Content/customer/js/custom.js"></script>


</body>

</html>