@model IEnumerable<CMSProject.Models.Supplier>
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}
@*<h2>Index</h2>*@

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@*<a href='@Url.Action("Create", "Suppliers")' class="btn btn-primary" style="float:right;margin-right:22px;">Tạo mới nhà phân phối</a><br>*@

    <p>
        <a href="/Suppliers/Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.SupplierID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SupplierID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SupplierID })*@
                @Html.ActionLink("  ", "Edit", new { id = item.SupplierID }, new { @class = "btn btn-warning fa fa-pencil" })
                @Html.ActionLink("  ", "Details", new { id = item.SupplierID }, new { @class = "btn btn-info fa fa-info-circle" })
                @*@Html.ActionLink("  ", "Delete", new { id = item.SupplierID }, new { @class = "btn btn-danger fa fa-times" })*@
                @*<a href="/GoodsReceipts/Index/@item.SupplierID" class="btn btn-danger">Phiếu nhập hàng</a>*@
                <a href="#" class="btn btn-danger">Phiếu nhập hàng</a>
            </td>
        </tr>
    }

</table>
