@model IEnumerable<CMSProject.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/admin.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

    @*<p>
        <a href="/Products/Create" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Password)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>*@
        <td>
            @*@Html.DisplayFor(modelItem => item.Roles)*@
            @if (item.Roles == 1)
            {
                <text>Admin</text>
            }
            else
            {
                if (item.Status == 2)
                {
                    <text>Nhân viên</text>
                }
            }
        </td>
        <td>
            @if (item.Status == 1)
            {
                <text>Dang hoat dong</text>
            }
            else
            {
                if (item.Status == 2)
                {
                    <text>khong su dung</text>
                }
            }
        </td>
        <td>
            @Html.ActionLink(" ", "Edit", new { id=item.AccountID }, new { @class = "btn btn-warning fa fa-pencil" }) 
            @*@Html.ActionLink("Details", "Details", new { id=item.AccountID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountID })*@
        </td>
    </tr>
}

</table>
